.container-1 {
  border: 1px solid black;
  width: 5rem;
  height: 100%;
}

.container-2 {
  border: 1px solid black;
  width: 5rem;
  height: 100%;
}

.container-3 {
  border: 1px solid black;
  width: 5rem;
  height: 100%;
}








