<section [className]="'border-for-task'">
  <div class="container-1">
    <div class="top-level-1-first">first</div>
    <div class="top-level-1-second">second</div>
    <div class="top-level-1-third">third</div>
  </div>
  <div class="container-2">
    <div class="top-level-2-first">first</div>
    <div class="top-level-2-second">second</div>
    <div class="top-level-third">third</div>
  </div>
  <div class="container-3">
    <div class="top-level-3-first">first</div>
    <div class="top-level-3-second">second</div>
    <div class="top-level-3-third">third</div>
  </div>
</section>
