<section [className]="'border-for-task'">
  <div class="container-first">
    <div class="top-level-1-first">first</div>
    <div class="top-level-1-second">second</div>
    <div class="top-level-1-third">third</div>
  </div>
  <div [className]="'container-second'">
    <div class="inside-container-{{j}}" [hidden]="true" *ngFor="let i of this.setCurrentTaskService.getInfoAboutQuantityOfTask(); let j = index" #getContainer>
      <button (click)="removeTask($event)">delete</button>
      <button (click)="addTaskName(j)">dodaj nazwę zadania</button>
      <ul>
        {{j}}
        <li class="describe-task-{{k}}"*ngFor="let i of objForQuantityNameTask[j]; let k = index"></li>
      </ul>
    </div>
  </div>

  <div [className]="'container-third'">
    <div class="top-level-3-first">first</div>
    <div class="top-level-3-second">second</div>
    <div class="top-level-3-third">third</div>
  </div>
</section>
